# -----------------------
# RATSKY SSHABU


Host project1-test
    Hostname 192.168.1.2
    IdentityFile /.ssh/id_rsa_work_p1
    Port 2222
    
Host SOME STRANGE USAGE
    Hostname 192.168.1.3
    IdentityFile /.ssh/id_rsa_work_p1
    Port 2223
    
Host project1-stage
    Hostname 192.168.1.4
    IdentityFile /.ssh/id_rsa_work_p1
    Port 2224
    
Host project2-dev
    Hostname 192.168.11.3
    IdentityFile /.ssh/id_rsa_work
    
Host home-gitlab
    Hostname gitlab.ratsky.local
    
Host home-nextcloud
    Hostname nc.ratsky.local
    
